In [ ]:
# 특정종목의 특정날짜 공시서류 제출일 확인하는 단순 코드

In [3]:
import OpenDartReader
import pandas as pd

In [4]:
api_key = 'a4ccf72e53bf597911d0ff504d58c5f09f2029a3'
dart = OpenDartReader(api_key)

In [19]:
df = dart.list(corp='000480', start=f'20230401', end=f'20240415', kind='A', final=False)
# 정정 보고서 제외 (report_nm 앞에 '[기재정정]'이 있는 행 제거)
df = df[~df['report_nm'].str.contains(r'^\[기재정정\]|^\[첨부정정\]', regex=True)].reset_index(drop=True)

df

,corp_code,corp_name,stock_code,corp_cls,report_nm,rcept_no,flr_nm,rcept_dt,rm
0,00148984,시알홀딩스,000480,Y,사업보고서 (2023.12),20240313001576,시알홀딩스,20240313,정연
1,00148984,시알홀딩스,000480,Y,분기보고서 (2023.09),20231114002970,시알홀딩스,20231114,
2,00148984,시알홀딩스,000480,Y,반기보고서 (2023.06),20230814003005,시알홀딩스,20230814,
3,00148984,시알홀딩스,000480,Y,분기보고서 (2023.03),20230512000826,시알홀딩스,20230512,